<nav>
  <h1>Your NY Times Articles</h1>
  <%= link_to "Logout", root_path, class: "logout" %>
</nav>

<%@nytimes.each  do |article| %>
  <div class = 'image-show'>
    <h4> <%= link_to "#{article.title}" , admin_nytime_path(article)%></h4>
         <%= link_to "Delete", admin_nytime_path(article) , method: "delete" %>
  </div>
<% end %>
