<nav>

  <h1>Welcome to the Idea Box Place</h1>
</nav>
<div id="welcome-container">

<div class= "welcome">
<%= link_to "Sign Up to Be a User", new_user_path %>
</div>

<div class= "welcome">
<%= link_to "I already have an account", login_path %>
</div>
</div>
