<nav>
  <h1>Welcome to Idea Box </h1>
  <div id= "welcome-container">
    <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Login", login_path %>
  </div>
  <h4>Ideas cooked fresh</h4>
</nav>
<div class="intro-div">
  <span><i class="fa fa-lightbulb-o fa-3x"></i></span>
  <p> Make ideas</p>
</div>
<div class="intro-div">
  <i class="fa fa-camera-retro fa-2x" aria-hidden="true" ></i>
  <p> Upload Images</p><br/>
</div>
<div class="intro-div">
  <i class="fa fa-smile-o fa-2x" aria-hidden="true"></i>
  <p> Upload Gifs</p><br/>
</div>
<div class="intro-div">
<i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i>
  <p>Upload NY Times Articles</p><br/>
</div>
