
body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  background: url("intro-bg") no-repeat center center fixed;
  color: white;}

html {
  width: 100%;
  height: 100%;
}
  h1{
    margin-top: 30px;
    width: 100%;
  }
  label{
  font-size: 10px;
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 50;
  }

h1,
label,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase; }



p, a {
  color: white;
  text-decoration: none;
  font-family: 'Cabin';
  font-size: 14px;
  margin-bottom: 25px;
}
.intro-div{
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  border-bottom: 1px solid white;
}
.img{
  width:150px;
  height: 150px;
}
img{
  width: 200px;
  height: 250px;
}

nav{
  text-align: center;
  /* margin-bottom: 40px; */
  border-bottom: 1px solid white;
  width: 100%;
  height: 140px;
  display: inline-block;
}

.form-container{
  margin: 0px 40px;
  display: flex;
  width: 200px;
  flex-direction: row ;
  align-items: start;}

.new_category, .new_image, .field {
  font-size: 10px;
  display: flex;
  flex-direction: row;
}

.field{
  width: 100%;
  border-bottom: 1px solid white;
  margin-bottom: 20px;}

.field label,.field input{
  margin-left: 20px;
  margin-right: 10px;
}
#image_image{
  width:80px;
text-align-last:center;
}

.cat-show{
  font-size: 10px;
  margin:25px;
}
.cat-show p,.cat-show a {
  font-size: 13px;
}
.idea-media{
  margin:0px 20px;
}
.logout{
  float: right;
  margin-right:20px;
}
.idea-show{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:flex-start;
  border-bottom: 1px solid white;
}
.categories-show{
  width: 20px;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  margin-right: 60px;
}
.cat-contain{
  display: flex;
  justify-content:flex-end;
  margin-bottom: 40px;

}

.new-idea-form,.idea-form, #new-idea{
  margin-left: 20px;
  padding-left: 20px;
  width: 200px;
}
.idea-form label, .idea-form input{
  margin:30px;
}

.welcome{
  border-radius: 5px;
  display: flex;
  margin: 0px 70px;
  flex-direction: column;
  align-items: flex-start;
}
.welcome a{
  margin:10px;
}
span{
  /* border:1px solid white; */
}

.images-show{
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.image-show{
  margin: 0px 20px;
}

.ideas-show{
  border: 1px solid white;
  padding: 30px;
  display: flex;
  font-size: 20px;
  margin: 0px 70px;
  flex-direction: column;
  align-items: center;
}
.show-container {
  display: flex;
  justify-content: flex-end;
}
.idea-text{
   margin: 0px 20px;

}

.user-container{
  display: flex;
  flex-direction: row;
}
.form{
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items:center;
  flex-direction: column;
}
.container{
  width: 200px;
  margin: 0px 40px;
  display: flex;
  flex-direction: column;
}
.show-title{
  display: flex;
  align-items: flex-start;
  margin:20px;
}
#welcome-container{
  width: 100px;
  position: absolute;
  top:0px;
  right:10px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items:flex-end;
  justify-content:flex-end;
}
